@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Reset básico para consistência entre navegadores */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5271ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    position: relative;
}

/* Estilo do Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
}

/* Container do Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.header-container2 {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 0px;
    gap: 10px;
}

/* Estilo do Logotipo */
.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-button {
    background-color: white;
    color: #5271ff;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

/* Conteúdo principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 40%;
    padding: 80px 20px;
    gap: 15px;
}

.menu-button2 {
    background-color: white;
    color: #5271ff;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    transition: none; /* Remove transition */
}

/* Remove hover effect */
.menu-button2:hover {
    background-color: white;
    color: #5271ff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;
}

.footer-images {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
}

.footer-images img {
    width: 40px;
    height: 40px;
}

.copyright {
    font-size: 0.75rem;
    color: #5271ff;
    margin-top: 5px;
    font-weight: bold;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .login-button {
        padding: 8px 30px;
        font-size: 1.2rem;
    }
    
    .logo {
        width: 50px;
        height: 50px;
    }
    
    .footer-images img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px 10px;
    }
    
    .login-button {
        padding: 6px 20px;
        font-size: 1rem;
    }
    
    .footer-images {
        gap: 10px;
    }
}
