@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    background-color: #5271ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.login-button {
    background-color: white; /* Cor de fundo branca */
    color: #5271ff; /* Cor do texto preta */
    border: none; /* Remove bordas */
    border-radius: 50px; /* Torna o botão redondo */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    cursor: pointer; /* Mostra o cursor de clique */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
    transition: all 0.3s ease; /* Transição suave para hover */
    font-weight: bold;
}

.login-button:hover {
    background-color: white; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra mais intensa no hover */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;}
    
.footer-container {
    background-color: white;
    display: flex;}
    
.footer-container a {
    color: #5271ff;
    padding: 42px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;}
    
.footer-left {
    margin-right: auto}
    
.fa:hover {
    color: white;}
    
.footer-icons {
    justify-content: space-between;
    padding: 16px 64px 0px 0px}
    
.footer-icons ul {
    list-style-type: none;}
    
.footer-icons li {
    display: inline-block;}
    
.footer-right {
    margin-left: auto}
    
.copyright {
    background-color: white;
    overflow: hidden;}
