@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    background-color: #5271ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.login-button {
    background-color: white; /* Cor de fundo branca */
    color: #5271ff; /* Cor do texto preta */
    border: none; /* Remove bordas */
    border-radius: 50px; /* Torna o botão redondo */
    padding: 10px 55px; /* Reduz a altura e aumenta a largura */
    font-size: 46px; /* Mantém o tamanho da fonte */
    cursor: pointer; /* Mostra o cursor de clique */
    transition: all 0.3s ease; /* Transição suave para hover */
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;}