@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    background-color: #5271ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

/* Estilo do Header */
header {
    position: absolute; /* Para sobrepor o conteúdo */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    background: transparent; /* Torna o header transparente */
}

/* Container do Header */
.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

/* Estilo do Logotipo */
.logo {
    width: 50px; /* Ajusta o tamanho do logotipo */
    height: 50px;
    border-radius: 50%; /* Torna o logo redondo */
    object-fit: cover;
}

.login-button {
    background-color: white; /* Cor de fundo branca */
    color: #5271ff; /* Cor do texto preta */
    border: none; /* Remove bordas */
    border-radius: 50px; /* Torna o botão redondo */
    padding: 10px 55px; /* Reduz a altura e aumenta a largura */
    font-size: 46px; /* Mantém o tamanho da fonte */
    cursor: pointer; /* Mostra o cursor de clique */
    transition: all 0.3s ease; /* Transição suave para hover */
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100vw; /* Impede que o footer ultrapasse a largura da tela */
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}

.footer-images {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre as imagens */
    padding: 10px 0;
    max-width: 100%; /* Evita overflow */
}

.footer-images img {
    width: 50px;
    height: 50px;
}

.copyright {
    font-size: 14px;
    color: #5271ff;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}